/* $Id: zen.css,v 1.14.2.1 2009/02/13 07:46:04 johnalbin Exp $ */

/*
* ZEN STYLES
*
* This is an example stylesheet. Sub-themes should NOT include the zen/zen.css
* file, but instead copy this CSS to their own stylesheets.
*
* In this stylesheet, we have included all of the classes and IDs from this
* theme's tpl.php files. We have also included many of the useful Drupal core
* styles to make it easier for theme developers to see them.
*
* Many of these styles are over-riding Drupal's core stylesheets, so if you
* remove a declaration from here, the styles may still not be what you want
* since Drupal's core stylesheets are still styling the element. See the
* drupal6-reference.css file for a list of all Drupal 5.x core styles.
*
* In addition to the style declarations in this file, other Drupal styles that
* you might want to override or augment are those for:
*
*   Book Navigation  See line 74  of Zen's drupal6-reference.css file
*   Forum            See line 197 of Zen's drupal6-reference.css file
*   Menus            See line 667 of Zen's drupal6-reference.css file
*   News Aggregator  See line 20  of Zen's drupal6-reference.css file
*   Polls            See line 287 of Zen's drupal6-reference.css file
*   Search           See line 320 of Zen's drupal6-reference.css file
*   User Profiles    See line 945 of Zen's drupal6-reference.css file
*/


/** body **/
body {
	color: #c7c7c7;
	margin: 0;
	padding: 0;
}

a, a:link, a:visited {
	color: #ffcd6c;
	text-decoration: none;
}

a:hover, a:active {
	color: #ffcd6c;
	text-decoration: underline;
}

input, textarea, select {
	background: #3a4c65 url('gfx/LoginInputBg.png') repeat-x center top;
	border: 1px solid #323d4e;
	color: #fff;
	margin: 0 5px 0 0;
	padding: 2px 3px 3px;
	width: 300px;
}

input:focus, textarea:focus, select:focus {
	background: #140b07 url('gfx/LoginInputBg.png') repeat-x center bottom;
}

textarea, textarea:focus {
	background: none;
}

#node-form input, #node-form textarea, #node-form select {
	font-size: 90%;
}

input.form-checkbox {
	height: auto;
	width: auto;
}

input.form-submit {
	background: url('gfx/ButtonsBg.png') no-repeat 0 -24px;
	border: 0;
	cursor: pointer;
	float: right;
	height: 24px;
	margin: 0 10px 0 0;
	padding: 0 0 4px;
	width: 95px;
}

input.form-submit:hover {
	color: #ffcd6c;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

fieldset.captcha legend {
	display: none;
}

fieldset.captcha img {
	margin: 20px 0 0;
}

.form-radio {
	background: none;
	border: none;
	width: auto !important;
}

#page {
	font-size: 75%;
}

#page-inner {
}

/** header **/
#header {
	height: 175px;
	position: relative;
}

#header-inner {
}

#logo-title /* Wrapper for logo, website name, and slogan */ {
	float: left;
	margin: 25px 0 0;
	width: 280px;
}

#logo /* Wrapper for logo */ {
	padding: 0;
}

#logo-image /* The actual logo image */
{
}

h1#site-name, div#site-name /* The name of the website */
{
	margin: 0;
	font-size: 2em;
	line-height: 1.3em;
}

#site-name a:link,
#site-name a:visited
{
	color: #000;
	text-decoration: none;
}

#site-name a:hover
{
	text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website */
{
}

#header-blocks /* Wrapper for any blocks placed in the header region */
{
	clear: none;
	float: left;
	margin: 30px 0;
	width: 680px;
}

#block-menu-menu-mainmenu {
	margin: 0;
	position: absolute;
	right: 60px;
	top: 147px;
}

#block-cutemenu-menu-mainmenu {
	margin: 0;
	position: absolute;
	left: 60px;
	top: 147px;
}

#header-blocks #block-menu-menu-mainmenu ul.menu,
#header-blocks #block-cutemenu-menu-mainmenu ul.menu {
	background: url('gfx/MenuSplitter.png') no-repeat left bottom;
	float: left;
	font-family: Lucida Sans Unicode, trebuchet, arial, sans-serif;
	margin: 0;
	padding: 0 0 0 1px;
}

#header-blocks #block-menu-menu-mainmenu ul.menu li,
#header-blocks #block-cutemenu-menu-mainmenu ul.menu li {
	background: url('gfx/MenuSplitter.png') no-repeat right bottom;
	padding: 0 1px 0 0;
}

#header-blocks #block-menu-menu-mainmenu ul.menu a,
#header-blocks #block-cutemenu-menu-mainmenu ul.menu,
#header-blocks #block-cutemenu-menu-mainmenu ul.menu cutemenu-label {
	background: url('gfx/MenuBg.png') repeat-x 0 bottom;
	color: #ffcd6c;
	display: block;
	font-family: Lucida Sans Unicode;
	font-size: 90%;
	padding: 6px 7px 7px;
	text-decoration: none;
}

#header-blocks #block-menu-menu-mainmenu ul.menu a.active,
#header-blocks #block-cutemenu-menu-mainmenu ul.menu a.active {
	background: url('gfx/MenuBg.png') repeat-x 0 top;
	color: #ffcd6c;
}

#header-blocks #block-menu-menu-mainmenu ul.menu a:hover,
#header-blocks #block-cutemenu-menu-mainmenu ul.menu a:hover {
	background: url('gfx/MenuBg.png') repeat-x 0 top;
}

#block-menu-menu-usermenu ul.menu a,
#block-cutemenu-menu-usermenu ul.menu a {
	color: #ffcd6c;
	font-family: tahoma;
	font-size: 100%;
	text-transform: none;
	text-decoration: none;	
}

#block-menu-menu-usermenu ul.menu a:hover,
#block-cutemenu-menu-usermenu ul.menu a:hover {
	color: #ffcd6c;
}

#header-blocks ul.menu li {
	float: left;
	list-style: none;
	width: 104px;
}

#header-blocks #block-menu-menu-mainmenu ul.menu li,
#header-blocks #block-cutemenu-menu-mainmenu ul.menu li {
	text-align: center;
	width: 99px;
}

#block-menu-menu-usermenu ul.menu li {
	width: auto;
}

/** main (container for everything else) **/
#main {
}

#main-inner {
	background: url('gfx/MainInnerBg.png') left top;
	border: 1px solid #0f1010;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin: 10px 0 0;
	padding: 20px;
}

/** content **/
#content
{
}

#content, .no-sidebars #content {
	width: 920px;
}

#content-inner
{
}

#mission /* The mission statement of the site (displayed on homepage) */
{
}

#content-top /* Wrapper for any blocks placed in the "content top" region */
{
}

#content-header /* Wrapper for breadcrumb, title, messages, tabs, and help */ {
  padding: 25px 0 0;
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
	padding-bottom: 0; /* Undo system.css */
	position: absolute;
	top: 15px;
}

h1.title, /* The title of the page */
h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */
{
	margin: 0 0 15px;
}

div.messages /* Important messages (status, warning, and error) for the user */
{
}

div.status /* Normal priority messages */ {
	color: #000;
}

div.status a {
	color: #000;	
	text-decoration: underline;
}

div.status a:hover {
	text-decoration: none;
}

div.warning, tr.warning /* Medium priority messages */
{
/* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error, tr.error /* High priority messages. See also the .error declaration below. */
{
}

div.tabs /* See also the tabs.css file. */
{
}

.help /* Help text on a page */
{
	margin: 1em 0;
}

.more-help-link /* Link to more help */
{
	font-size: 0.85em;
	text-align: right;
}

#content-area /* Wrapper for the actual page content */
{
}

.pager /* A list of page numbers when more than 1 page of content is available */
{
	clear: both;
	margin: 1em 0;
	text-align: center;
}

.pager a, .pager strong.pager-current
{
	padding: 0.5em;
}

.feed-icons /* The links to the RSS or Atom feeds for the current list of content */ {
	clear: both;
	padding: 20px 0 0 10px;
}

#content-bottom /* Wrapper for any blocks placed in the "content bottom" region */
{
}

/** navbar **/
#navbar
{
}

#navbar-inner
{
}

#search-box /* Wrapper for the search form */
{
}

#edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */
{
	display: none;
}

#primary /* Primary links */
{
}

#secondary /* Secondary links */
{
}

/** sidebar-left **/
#sidebar-left
{
}

#sidebar-left-inner
{
}

/** sidebar-right **/
#sidebar-right
{
}

#sidebar-right-inner
{
}

/** footer **/
#footer
{
}

#footer-inner {
	font-size: 90%;
}

#footer-inner .block {
	float: left;
}

#footer-inner #block-block-3 {
	float: right;
}

#footer-inner a#magnify, #footer-inner a:link#magnify, #footer-inner a.visited#magnify {
	color: #404040;
}

#footer-inner a.hover#magnify, #footer-inner a.active#magnify {
	color: #ffcd6c;
}

#footer-message /* Wrapper for the footer message from Drupal's "Site information"
				 and for any blocks placed in the footer region */
{
}

/** closure **/
#closure-blocks /* Wrapper for any blocks placed in the closure region */
{
}

/** Drupal nodes **/
.node /* Node wrapper */
{
}

.node-inner /* Additional wrapper for node */
{
}

.sticky /* A sticky node (displayed before others in a list) */
{
}

.node-unpublished /* Unpublished nodes */
{
/* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished div.unpublished, /* The word "Unpublished" displayed beneath the content. */
.comment-unpublished div.unpublished
{
	height: 0;
	overflow: visible;
	color: #d8d8d8;
	font-size: 75px;
	line-height: 1;
	font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	word-wrap: break-word; /* A very nice CSS3 property */
}

.node-mine /* A node created by the current user */
{
}

.node-teaser /* A node displayed as teaser */
{
}

#content .node-type-article-with-image {
	color: #c7c7c7;
	float: left;
	margin: 0 0 20px;
  position: relative;
}

.front.two-sidebars #content .node .content {
	width: 444px;
}

#content h1, #content .node-type-article-with-image h2 {
	margin: 0 0 1px;
}

#content h1, #content .node-type-article-with-image h2, #content .node-type-article-with-image .meta, #content .node-type-article-with-image .content {
	background: url('gfx/ContentBg.png') left top;
	border: 1px solid #0f1010;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 15px 10px;
}

#content .node-type-article-with-image .content {
	float: left;
}

.front.logged-in #content .node-type-article-with-image .content {
}

.front #content .node-type-article-with-image .content, .not-front.not-logged-in #content .node-type-article-with-image .content, .not-front #content .node-type-article-with-image .content {
  margin: 1px 0 0;
  width: 625px;
}

.front.two-sidebars #content .node .content, .not-front.two-sidebars #content .node .content {
	width: 445px;
}

#content .node-type-article-with-image .content, #content .node-type-article-with-image .meta {
	font-size: 90%;
}

#content .node-type-article-with-image .content blockquote, #content .node-type-article-with-image .meta blockquote {
	background: url('gfx/quote.gif') no-repeat top left;
	clear: both;
	font-size: 100%;
	margin: 35px;
	padding: 0 0 0 20px;
}

#content .node-type-article-with-image .field-field-image {
	float: left;
	margin: 0 10px 0 0;
}

#content .node-type-article-with-image .field-field-image a.imagecache-forside {
	border: 1px solid #c7c7c7;
	float: left;
	padding: 1px;
}

#content .node-type-article-with-image .field-field-image img.imagecache-forside {
	float: left;
}

#content .node-type-article-with-image .meta {
	color: #626262;
	padding: 0;
}

#content .node-type-article-with-image .meta .submitted {
	margin: 0 10px;
	padding: 15px 0;
}

#content .node-type-article-with-image p {
	margin: 0 0 10px;
}

/* All nodes are given a node-type-FOO class that describes the type of
* content that it is. If you create a new content type called
* "my-custom-type", it will receive a "node-type-my-custom-type" class.
*/
.node-type-page /* Page content node */
{
}

.node-type-story /* Story content node */
{
}

.node h2.title /* Node title */
{
}

.marker /* "New" or "Updated" marker for content that is new or updated for the current user */
{
	color: #c00;
}

.node .picture /* The picture of the node author */
{
}

.node.node-unpublished .picture,
.comment.comment-unpublished .picture
{
	position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
}

.node .meta /* Wrapper for submitted and terms data */
{
}

.node .submitted /* The "posted by" information */
{
}

.node .terms /* Node terms (taxonomy) */
{
}

.node .content /* Node's content wrapper */
{
}

.node div.links /* Wrapper for node links */
{
	margin: 1em 0;
}

ul.links /* Taxonomy links, node links, comment links */
{
	margin: 0;
	padding: 0;
}

ul.links.inline {
	clear: both;
	display: block;
	padding: 15px 0 0;
}

ul.links li,
.forum-links li {
  background: #5cb441 url('gfx/button-bg.gif') repeat-x;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #376b27;
  display: inline;
	list-style-type: none;
  margin: 5px;
  padding: 2px 8px 4px;
}

ul.links li a,
ul.links li a:hover,
.forum-links li a,
.forum-links li a:hover,
ul.links li span {
  color: #fff;
  font-size: 90%;
  text-shadow: 1px 1px #376b27;
}

ul.links li.statistics_counter {
  background: transparent;
  border: 0;
}

ul.links li.statistics_counter a,
ul.links li.statistics_counter a:hover,
.forum-links li.statistics_counter a,
.forum-links li.statistics_counter a:hover,
ul.links li.statistics_counter span {
  color: #999;
  text-shadow: 0 0;
}

ul.forum-links {
  margin: 10px 0;
}

.forum-links li {
  margin: 5px 0;
}

.forum-post-panel-sub .author-pane .picture img {
  background: #0a0a0a;
  border: 1px solid #202020;
}

.preview .node /* Preview of the content before submitting new or updated content */
{
/* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

/** Drupal comments **/
#comments /* Wrapper for the list of comments and its title */ {
	margin: 1em 0;
}

.node-type-article-with-image #comments {
	clear: both;
  width: 645px;
}

#comments-title /* Heading for the list of comments */
{
}

.comment /* Wrapper for a single comment */
{
}

.comment-inner /* Additional wrapper for a single comment */ {
	padding: 15px;
}

.comment-preview /* Preview of the comment before submitting new or updated comment */
{
}

.comment.new /* A new comment since the user last viewed the page. */
{
}

.comment.odd /* An odd-numbered comment in the list of comments */ {
	background-color: #0a0a0a;
}

.comment.even /* An even-numbered comment in the list of comments */ {
	background-color: #0d0d0d;
}

.comment.first /* The first comment in the list of comments */
{
}

.comment.last /* The last comment in the list of comments */
{
}

.comment-unpublished /* Unpublished comments */
{
/* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.comment-unpublished div.unpublished /* The word "Unpublished" displayed beneath the content. See also the div.unpublished declaration in the node section above. */
{
}

.comment-published /* Published comments */
{
}

.comment-by-anon /* A comment created by an anonymous user */
{
}

.comment-by-author /* A comment created by the node's author */
{
}

.comment-mine /* A comment created by the current user */
{
}

.comment h3.title /* Comment title */ {
	font-size: 125%;
}

.new /* "New" marker for comments that are new for the current user */
{
	color: #c00;
}

.comment .picture /* The picture of the comment author */
{
}

.comment .submitted /* The "posted by" information */
{
}

.comment .content /* Comment's content wrapper */
{
}

.comment .user-signature,
.comment .author-signature {
	background: url('gfx/DashedHori.png') repeat-x top left;
  color: #666;
  font-size: 90%;
  margin: 15px 0 0;
  padding: 5px;
}

.forum-post .author-signature {
  margin: 15px 10px 0;
  padding: 10px;
}

.comment div.links /* Wrapper for comment links. See also the ul.links declaration in the node section above. */ {
	margin: 0;
}

.indented /* Nested comments are indented */
{
/* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
}

.preview .comment /* Preview of the comment before submitting new or updated comment */
{
/* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

/** Drupal blocks **/
.block /* Block wrapper */
{
	margin-bottom: 1em;
}

.block.region-odd /* Zebra striping for each block in the region */
{
}

.block.region-even /* Zebra striping for each block in the region */
{
}

.block.odd /* Zebra striping independent of each region */
{
}

.block.even /* Zebra striping independent of each region */
{
}

.region-count-1 /* Incremental count for each block in the region */
{
}

.count-1 /* Incremental count independent of each region */
{
}

.block-inner /* Additional wrapper for block */
{
}

.block h2.title /* Block title */
{
}

.block .content /* Block's content wrapper */
{
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */
{
}

#sidebar-right .block {
	border-top: 1px solid #343434;
	margin: 0 0 10px;
	padding: 20px 0 0;
}

#sidebar-right .block.region-count-1 {
	border: none;
} 

#sidebar-right .block .content {
	padding: 0 0 10px;
}

.block-aggregator {
	clear: both:
}

#sidebar-right .block .item-list ul {
	margin: 0;
	padding: 0;
}

.block-aggregator .more-link {
	display: none;
}

.block-aggregator ul {
	margin: 0;
	padding: 0;
}

.block-aggregator li, #sidebar-right .block li {
	background: url('gfx/ListDot.png') no-repeat 0 5px;
	list-style: none;
	padding: 0 0 0 15px;
}

.block-aggregator li a, #sidebar-right .block li a {
	color: #ffcd6c;
	text-decoration: none;
}

.block-aggregator li a:hover, #sidebar-right .block li a:hover {
	text-decoration: underline;
}

.block-aggregator .item-list ul li, #sidebar-right .block .item-list ul li {
	list-style: none;
	padding: 0 0 0 15px;
}

#block-block-1 /* First administrator-defined block */
{
}

#block-blog-0 /* "Recent blog posts" block */
{
}

#block-book-0 /* "Book navigation" block for the current book's table of contents */
{
}

#block-comments-0 /* "Recent comments" block */
{
}

#block-forum-0 /* "Active forum topics" block */
{
}

#block-forum-1 /* "New forum topics" block */
{
}

#block-menu-2 /* "Primary links" block */
{
}

#block-node-0 /* "Syndicate" block for primary RSS feed */
{
}

#block-poll-0 /* "Most recent poll" block */
{
}

#block-profile-0 /* "Author information" block for the profile of the page's author */
{
}

#block-search-0 /* "Search form" block */
{
}

#block-statistics-0 /* "Popular content" block */
{
}

#block-user-0, #block-menu-menu-usermenu ul.menu, #header .block-facebook_auth /* "User login form" block */ {
	font-family: Tahoma;
	font-size: 95%;
	position: absolute;
	right: 0;
	top: 15px;
	width: 365px;
}

#header .block-facebook_auth {
	right: 216px;
	top: 51px;
	width: 46px;
}

#block-menu-menu-usermenu ul.menu {
	width: auto;
}

#block-user-1 /* "Navigation" block for Drupal navigation menu */
{
}

#block-user-2 /* "Who's new" block for a list of the newest users */
{
}

#block-user-3 /* "Who's online" block for a list of the online users */
{
}

/** Drupal boxes **/
/* Wrapper for Comment form, Comment viewing options, Menu admin, and
* Search results.
*/
.box /* Wrapper for box */
{
}

.box-inner /* Additional wrapper for box */
{
}

.box h2.title /* Box title */
{
}

.box .content /* Box's content wrapper */
{
}

/** Miscellaneous Drupal styles **/
.error /* Errors that are separate from div.messages status messages (see above.) */
{
/* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages (see above.) */
{
/* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.more-link /* Aggregator, blog, and forum more link */
{
	text-align: right;
}

#header-blocks .block-user h2.title {
	display: none;
}

#user-login-form /* Drupal's default login form */
{
	float: right;
	text-align: left;
}

#header-blocks #user-login-form label {
	display: none;
}

#header-blocks #user-login-form input {
	background: #263041 url('gfx/LoginInputBg.png') repeat-x center bottom;
	border: 1px solid #323d4e;
	color: #fff;
	margin: 0 5px 0 0;
	padding: 2px 3px 3px;
	width: 125px;
}

#header-blocks #user-login-form input:focus {
	background: #140b07 url('gfx/LoginInputBg.png') repeat-x center top;
}

#header-blocks #user-login-form input.form-submit {
	background: url('gfx/ButtonsBg.png') no-repeat 0 0;
	border: 0;
	color: #d1e2cc;
	cursor: pointer;
	height: 23px;
	margin: 1px 0 0;
	padding: 0 0 3px;
	width: 74px;
}

#header-blocks #user-login-form input:focus, #header-blocks #user-login-form input#edit-submit:hover {
	color: #fff;
}

#header-blocks #user-login-form .form-item {
	float: left;
	margin: 1px 0;
}

#header-blocks #user-login-form .item-list {
	clear: both;
}

#header-blocks #user-login-form .item-list li, #block-menu-menu-usermenu ul.menu li {
	float: left;
	list-style: none;
}

#header-blocks #user-login-form .item-list li a, #block-menu-menu-usermenu ul.menu li a {
	color: #ffcd6c; 
	margin: 0 10px 0 0;
	text-decoration: none;
}

#header-blocks #user-login-form .item-list li.last a, #block-menu-menu-usermenu ul.menu li.last a {
	margin: 0;
}

#header-blocks #user-login-form .item-list li a:hover {
	text-decoration: underline;
}

tr.even /* Some tables have rows marked even or odd. */ {
/* background-color: #eee; */ /* Drupal core uses a #eee background */
	background-color: #0d0d0d;
	border-bottom: 1px solid #1c140d;
}

tr.odd {
/* background-color: #eee; */ /* Drupal core uses a #eee background */
	background-color: #0a0a0a;
	border-bottom: 1px solid #1c140d;
}

td.active {
	background-color: #0d0d0d;
}

#privatemsg-list table {
	width: 100%;
}

#privatemsg-list table th {
	border-bottom: 1px solid #1c140d;
	padding: 5px;
}

html.js fieldset.collapsible legend a {
	background: url('gfx/menu-expanded.png') no-repeat 2px 6px;
}

#content tr.even td, #content tr.odd td {
	padding: 5px;
}

li a.active /* The active item in a Drupal menu */
{
	color: #ffcd6c;
}

/** Drupal forms **/
.form-item, /* Wrapper for a form element (or group of form elements) and its label */
.form-checkboxes,
.form-radios
{
	margin: 1em 0;
}

.form-item input.error, /* Highlight the form elements that caused a form submission error */
.form-item textarea.error,
.form-item select.error
{
	border: 2px solid #c00;
}

.form-item label /* The label for a form element */ {
	display: block;
	font-weight: bold;
	margin: 5px 0;
}

.form-item label.option /* The label for a radio button or checkbox */
{
	display: inline;
	font-weight: normal;
}

.form-required /* The part of the label that indicates a required field */
{
	color: #c00;
}

.form-item .description /* The descriptive help text (separate from the label) */
{
	font-size: 0.85em;
}

.form-checkboxes .form-item, /* Pack groups of checkboxes and radio buttons closer together */
.form-radios .form-item
{
	margin: 0.4em 0;
}

.form-submit /* The submit button */
{
}

.container-inline div, .container-inline label /* Inline labels and form divs */
{
	display: inline;
}

.tips /* Tips for Drupal's input formats */
{
	margin: 0;
	padding: 0;
	font-size: 0.9em;
}

/** OpenID **/
/* The default styling for the OpenID login link seems to assume Garland's
* styling of list items.
*/
#user-login-form ul, #block-menu-menu-usermenu ul.menu /* OpenID creates a new ul above the login form's links. */ {
	background: url('gfx/MainInnerBg.png') left top;
	border: 1px solid #0f1010;
	-moz-border-radius: 8px;
	border-radius: 8px;
	float: right;
	margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
	padding: 3px 10px 5px;
}

#user-login-form li.openid-link, /* The "Log in using OpenID" links. */
#user-login li.openid-link
{
	margin-top: 1em;
	margin-left: -20px; /* Un-do some of the padding on the ul list. */
	padding-left: 20px;
	background-position: left center;
}

#user-login-form li.user-link, /* The "Cancel OpenID login" links. */
#user-login li.user-link
{
	margin-top: 1em;
	list-style-type: disc;
	list-style-position: outside;
}

#user-login li.openid-link, /* The OpenID links on the /user form. */
#user-login li.user-link
{
	margin-left: -2em; /* Un-do all of the padding on the ul list. */
}

/** Drupal admin tables **/
/* We overrode these styles in html-elements.css, but restore them for the
* forms on the site.
*/
form tbody
{
	border-top: 1px solid #ccc;
}

form th
{
	text-align: left;
	padding-right: 1em;
	border-bottom: 3px solid #ccc;
}

form tbody th
{
	border-bottom: 1px solid #ccc;
}

form thead th
{
	text-align: left;
	padding-right: 1em;
	border-bottom: 3px solid #ccc;
}

 /* tabs */

ul.primary {
	background: url('gfx/tab-bar.png') repeat-x left bottom;
	color: #ffcd6c;
	font-size: 90%;
}

ul.primary li a {
	background: url('gfx/tab-left.png') no-repeat left -38px;
	color: #ffcd6c;
	font-weight: normal;
}

ul.primary li a .tab {
	background: url('gfx/tab-right.png') no-repeat right -38px;
	color: #ffcd6c;
}

ul.primary li a:hover {
	background: url('gfx/tab-left.png') no-repeat left -76px;
	color: #ffcd6c;
}

ul.primary li a:hover .tab {
	background: url('gfx/tab-right.png') no-repeat right -76px;
	color: #ffcd6c;
}

ul.primary li.active a, ul.primary li.active a:hover {
	background: url('gfx/tab-left.png') no-repeat left 0;
	color: #ffcd6c;
}

ul.primary li.active a .tab, ul.primary li.active a:hover .tab {
	background: url('gfx/tab-right.png') no-repeat right 0;
}

/* advanced forum */

/* Headers */
#forum .forum-table th,
#forum .forum-topics th,
#forum .forum-topics th a,
#forum .forum-topics th a:link,
#forum .forum-topics th a:hover,
#forum .forum-topics th a:visited {
	background: url('gfx/MainInnerBg.png') left top;
	color: #ffffff;
	font-weight: bold;
}

#forum .forum-table th.forum-last-post {
	text-align: left;
}

#forum .forum-table tr.even, #forum .forum-table tr.odd {
	background-color: #0a0a0a;
	border: none;
}

#forum .forum-table tr.even {
	background-color: #0d0d0d;
}

#forum th, #forum td {
	padding: 5px;
}

#forum-statistics-header {
	background: url('gfx/MainInnerBg.png') left top;
}

#forum-statistics {
	border: 1px solid #1c140d;
}

.forum-statistics-sub-header {
	background-color: #0d0d0d;
}

#forum tr.sticky-topic {
	background-color: #0d0d0d;
}

#forum tr.even, #forum tr.odd {
	background-color: #0a0a0a;
	border-bottom: none;
}

#forum tr.even {
	background-color: #0d0d0d;
}

.forum-post {
	background-color: #0a0a0a;
	border: 2px solid #1c140d;
}

.forum-post div {
}

.forum-jump-links,
.forum-post-links {
  padding: 8px;
}

.post-info {
	background-color: #0d0d0d;
	border-bottom: 1px solid #202020;
	padding: 5px;
}

.author-pane-top {
	height: auto;
  overflow: hidden;
}

.author-pane-section {
	margin: 0;
}

.post-title {
	background-color: #0d0d0d;
	border-bottom: 1px solid #1c140d;
	font-size: 110%;
}

.forum-description {
	margin: 10px 10px 0;
}

.forum-post-panel-main {
	border-top: 1px solid #1c140d;
	border-bottom: 1px solid #1c140d;
}

.forum-post-panel-main .content {
	padding: 5px 10px;
}

.forum-post-panel-sub {
	background-color: #0a0a0a;
}

/*
  Forum not stacked
*/

.forum-post {
  background-color: #0a0a0a;
  border: 1px solid #202020;
}

.forum-post-wrapper,
.forum-post-panel-main,
.forum-post-footer,
.forum-post-links {
  background-color: #0a0a0a;
  border-color: #202020;
}

.forum-post-panel-main {
  border-bottom: 0;
  border-top: 0;
  min-height: 200px;
}

/* General */
#forum .forum-table,
#forum .forum-topics {
	border: 1px solid #1c140d;
}

#forum td.container {
	background-color: #171515;
}

div.messages, div.status, div.warning, div.error {
	background-color: #11151D;
	background-image: url('gfx/messages-status.png');
	border: 1px solid #3D4964;
	color: #fff;
}

/*
  Twitter
*/

.twtr-widget {
  margin: 0 0 30px !important;
}

.twtr-widget .twtr-hd,
.twtr-widget .twtr-ft {
  display: none !important;
}

.twtr-widget .twtr-tweet-wrap {
  padding: 6px 0 !important;
}

/*
Featured content
*/

.view-featured-content {
  height: 250px;
  overflow: hidden;
  position: relative;
  width: 647px;
}

.view-featured-content .views_slideshow_controls .views_slideshow_previous,
.view-featured-content .views_slideshow_controls .views_slideshow_pause,
.view-featured-content .views_slideshow_controls .views_slideshow_play,
.view-featured-content .views_slideshow_controls .views_slideshow_next,
.view-featured-content .views_slideshow_singleframe_pager,
.view-featured-content .views_slideshow_controls {
  position: absolute;
  z-index: 99;
}

.view-featured-content .views_slideshow_controls {
  bottom: 20px;
  height: 35px;
  left: 0;
  width: 647px;
}

.view-featured-content .views_slideshow_singleframe_pager {
  background-color: #0f1010;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  bottom: 20px;
  display: block;
  float: left;
  height: 35px;
  right: 60px;
  outline: 0;
  overflow: hidden;
  position: absolute;
}

.view-featured-content .views_slideshow_slide {
  height: 225px;
  position: relative;
  width: 647px;
}

.view-featured-content .views_slideshow_singleframe_pager .pager-item {
  padding: 0;
}

.view-featured-content .views_slideshow_singleframe_pager .pager-item a {
  background-color: #808080;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
  float: left;
  height: 10px;
  margin: 12px 12px 12px 0;
  overflow: hidden;
  text-indent: -9999px;
  width: 10px;
}

.view-featured-content .views_slideshow_singleframe_pager .pager-item.first a {
  margin: 12px;
}

.view-featured-content .views_slideshow_singleframe_pager .pager-item.activeSlide a {
  background-color: #fff;
}

.view-featured-content .views_slideshow_controls .views_slideshow_previous {
  background: url('gfx/slideshow-controls.png') no-repeat 0 -35px;
  display: block;
  height: 35px;
  left: 15px;
  outline: 0;
  text-indent: -9999px;
  width: 35px;
}

.view-featured-content .views_slideshow_controls .views_slideshow_play,
.view-featured-content .views_slideshow_controls .views_slideshow_pause {
  background: url('gfx/slideshow-controls.png') no-repeat top left;
  display: none;
  height: 35px;
  right: 60px;
  outline: 0;
  text-indent: -9999px;
  width: 35px;
}

.view-featured-content .views_slideshow_controls .views_slideshow_pause {
  background: url('gfx/slideshow-controls.png') no-repeat top right;
}

.view-featured-content .views_slideshow_controls .views_slideshow_next {
  background: url('gfx/slideshow-controls.png') no-repeat -90px -35px;
  display: block;
  height: 35px;
  outline: 0;
  right: 15px;
  text-indent: -9999px;
  width: 35px;
}

.view-featured-content .link {
  left: 0;
  position: absolute;
  top: 0;
}

.view-featured-content .link a {
  -moz-border-radius: 0 8px 8px 0;
  -webkit-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  display: block;
  height: 225px;
  position: relative;
  width: 615px;
}

.view-featured-content .content {
  background-color: #0f1010;
  -moz-border-radius: 0 8px 8px 0;
  -webkit-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  color: #fff;
  left: 0;
  min-height: 60px;
  min-width: 325px;
  max-width: 300px;
  *width: 300px;
  padding: 0;
  position: absolute;
  top: 35px;
}

.view-featured-content .content a {
  -moz-border-radius: 0 8px 8px 0;
  -webkit-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  color: #fff;
  display: block;
  font-size: 170%;
  line-height: 110%;
  padding: 20px 10px 10px 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.view-featured-content .content a p {
  font-size: 65%;
  line-height: 125%;
  text-transform: none;
}

/*
  Facebook
*/

.node-type-article-with-image .content .fb-social-like-widget {
  left: 537px;
  position: absolute;
  top: 12px;
}

.node-type-forum .forum-post-wrapper .content .fb-social-like-widget {
    left: 810px;
    position: absolute;
    top: 63px;
}

/*
  Pager
*/

.item-list {
  list-style: none;
}

.pager.item-list li {
  display: inline;
  margin: 0;
  padding: 0;
}

.pager .pager-item a,
.pager .pager-item a:link,
.pager .pager-item a:visited
.pager .pager-first a,
.pager .pager-first a:link,
.pager .pager-first a:visited,
.pager .pager-previous a,
.pager .pager-previous a:link,
.pager .pager-previous a:visited,
.pager .pager-next a,
.pager .pager-next a:link,
.pager .pager-next a:visited,
.pager .pager-last a,
.pager .pager-last a:link,
.pager .pager-last a:visited,
#forum .pager li.pager-current,
#forum-comments .pager li.pager-current {
  border: 1px solid #0b3853;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #68a7cd !important;
  padding: 3px 6px;
  text-decoration: none !important;
}

.pager .pager-item a:hover,
.pager .pager-first a:hover,
.pager .pager-previous a:hover,
.pager .pager-next a:hover,
.pager .pager-last a:hover {
  background-color: #0b3853;
  color: #68a7cd !important;
}

#forum .pager a.active,
#forum-comments .pager a.active,
.item-list .pager .pager-current,
#forum .pager a.active,
#forum-comments .pager a.active {
  background-color: #0b3853;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #68a7cd;
  *margin: 0 4px 0 0;
  padding: 4px 7px;
  *padding: 4px 3px 4px 7px;
}

#forum .pager a:link,
#forum .pager a:visited,
#forum-comments .pager a:link,
#forum-comments .pager a:visited {
  border: 1px solid #0b3853;
}

#forum .pager a:link,
#forum .pager a:visited,
#forum-comments .pager a:link,
#forum-comments .pager a:visited {
  background: transparent;
}

.quote-msg {
  background-color: #333333;
  border: 1px solid #666666;
}

.block block-adsense {
  clear: both;
  margin: 15px 0 0;
}

.block input,
.node-type-paypal-page input {
  background: 0;
  border: 0;
  width: auto;
}