/* $Id: phpbbforum-prosilver.css,v 1.5 2009/08/31 21:08:03 vb Exp $ */

/* put your custom CSS in here */

#phpbbforum-page {
  padding: 0;
}

#phpbbforum-page #wrap {
  padding: 0;
}

#phpbbforum-page td.active {
  background: transparent;
}

#phpbbforum-node-comments {
  /*margin-top: 10px;*/
}

#phpbbforum-node-comments #page-header {
  display: none;
}
